<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="upi" class="com.sushant.UPIPayment"/>
    <bean id="credit" class="com.sushant.CreditCardPayment"/>
    <bean id="cash" class="com.sushant.CashPayment"/>

    <bean class="com.sushant.AmazonPaymentServices">
        <constructor-arg ref="credit"/>
    </bean>
</beans>